body {
  margin: 0;
  font-family: 'rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  font-family: 'rubik', sans-serif;
  font-size: 14px;
  color: #757575;
}

.cardCategory .card:hover {
  transform: scale(1.1);
  transition: .3s ease-in-out;
  border:none;
  border-radius:8px;
}

.cardTrending .card:hover {
  transform: scale(1.05);
  transition: .3s ease-in-out;
  border:none;
  border-radius:8px;
}
